#startButton {
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 50%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#startButton:active {
    transform: translateY(4px);

}

#moneyCar {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    height: 60%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    animation-duration: 0.8s;
    animation-name: moneyCarMove;
}

@keyframes moneyCarMove {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-15deg) scale(1.5);
    }

    100% {
        transform: rotate(0deg);
    }
}



#startYellowTestButton {
    position: absolute;
    left: 25%;
    top: 7%;
    width: 50%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#startYellowTestButton:active {
    transform: translateY(4px);
}

#startSwitchTestButton {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 30%;
    height: 45%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#startSwitchTestButton:active {
    transform: translateY(4px);
}

#startDevtestButton {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 30%;
    height: 45%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#startDevtestButton:active {
    transform: translateY(4px);
}

/*#endOfDayButton {
    position: absolute;
    left : 40%;
    top : 35%;
    width: 20%;
    height: 30%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    }
    #endOfDayButton:active {
        transform: translateY(4px);
    }*/

#redButton {
    position: absolute;
    left: 10%;
    top: 46.5%;
    width: 8%;
    height: 15%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#redButton:active {
    transform: translateY(4px);
}

#blueButton {
    position: absolute;
    left: 83%;
    top: 46.5%;
    width: 8%;
    height: 15%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#blueButton:active {
    transform: translateY(4px);
}

#gameScreen {
    /*background-image: url('road2.png'), url("desert.png");*/
    background-image: url('/Sandbox/pics/road.png');
    height: 100%;
    left: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;

}


#blueCar {
    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: blueCarMoving;
    animation-duration: 1s;
    animation-fill-mode: initial;
    animation-iteration-count: infinite;
    display: none;
    /*animation-iteration-count: infinite;
    animation-fill-mode: initial;*/
}

@keyframes blueCarMoving {
    from {
        top: 60pc
    }

    to {
        top: -50pc
    }

    ;
}

#redCar {

    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: redCarMoving;
    animation-duration: 1s;
    animation-fill-mode: initial;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes redCarMoving {
    from {
        top: 60pc
    }

    to {
        top: -50pc
    }

    ;

}

#yellowCar {

    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: yellowCarMoving;
    animation-duration: 1s;
    animation-fill-mode: initial;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes yellowCarMoving {
    from {
        top: 60pc
    }

    to {
        top: -50pc
    }

    ;

}

#airplane {

    width: 4%;
    height: 10%;
    left: 45%;
    top: 110%;
    animation-play-state: paused;
    position: relative;
    animation-name: airplaneMoving;
    animation-duration: 10s;
    animation-fill-mode: initial;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes airplaneMoving {
    from {
        top: 60pc
    }

    to {
        top: -40pc
    }

    ;

}

#startPage {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins2 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins3 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins4 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins5 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins6 {
    position: absolute;
    left: 12.5%;
    top: 5%;
    width: 75%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins7 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins8 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins9 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins10 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins11 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#doNotDisturbPage {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#qPage {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}


#next {
    position: fixed;
    left: 35%;
    top: 92%;
    width: 30%;
    height: 5%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#next:active {
    transform: translateY(4px);

}

#doNotDisturb {
    position: fixed;
    left: 20%;
    top: 65%;
    width: 60%;
    height: 17%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#doNotDisturb:active {
    transform: translateY(4px);

}

#doNotDisturbGoBack {
    position: fixed;
    left: 35%;
    top: 85%;
    width: 28%;
    height: 10%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#doNotDisturbGoBack:active {
    transform: translateY(4px);

}

#demoStart {
    position: fixed;
    left: 27.5%;
    top: 73%;
    width: 45%;
    height: 15%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#demoStart:active {
    transform: translateY(4px);

}

#iphone {
    position: fixed;
    left: 10%;
    top: 28%;
    width: 35%;
    height: 40%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;


}

#iphone:active {
    transform: translateY(4px);
}

#notIphone {
    position: fixed;
    left: 55%;
    top: 28%;
    width: 35%;
    height: 40%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#notIphone:active {
    transform: translateY(4px);
}

#wrongRed {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#wrongBlue {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#rest {
    position: fixed;
    left: 25%;
    top: 65%;
    width: 25%;
    height: 20%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#pressButton {
    position: fixed;
    left: 32.5%;
    top: 28%;
    width: 35%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#qStart {
    position: fixed;
    left: 36%;
    top: 65%;
    width: 28%;
    height: 27%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#qStart:active {
    transform: translateY(4px);
}